extends layout

block content
  h1= title
  p Welcome to #{title}

  include letter   
  P Send   
   input#send(type='submit',value='Send') 

  p Last email was sent to
   #{lastEmailMessage}
   h2#results

    
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js") 