h2 My Day At School...
table
 tr
  td Name:
  td #{kid}
  td Date
  td #{today}
Things I worked on Today:
table
 tr
  td 
   h5 Gluing
    input(type="checkbox" ,name='gluing')
  td 
   h5 Running
    input(type="checkbox" ,name='running')
     
p Book
 input(type='checkbox',name='book')


//input(type="textArea" ,class='descript-task',autocomplete="off" autofocus="autofocus")

//input(type='checkbox' ,name='book')
//input(type='checkbox' ,name='gluing', value='gluing') 
    